<p>users works!</p>
<div>
    User with ID {{ user.id }}
</div>
<div>
    user with name {{ user.name }}
</div>
<!--
<div>
    <a [routerLink]="['/users',1,'ABC']" [queryParams]="{page : 1, search : 'ABC'}" [fragment]="'loading'">Get details of abc</a>
</div>
<div>-->
    <!--<a routerLink="/categories">Go to Categories</a>-->
    <!-- or -->
   <!-- <button (click)="onCategoryclick()">Go to Categories</button>
</div>
<div>
    <button (click)="getRamaDetails()">Get Rama Details</button>
</div>
-->

<div>
    <button (click)="onUserEdit()">Edit User</button>
</div>


